<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('base/head'); %>
    <title>404 Not Found</title>
    <link rel="stylesheet" href="/stylesheets/homepage-style.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Paytone+One&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body class="bg d-flex align-items-center justify-content-center text-center">
    <div class="contianer">
        <br><br><br><br>
        <h1 style="font-size: 200px;">404</h1>
        <h2 style="font-size: 100px;">Page Not Found</h2>
        <p class="lead" style="font-size: 50px;">Oops! The page you're looking for does not exist.</p>
        <br>
        <a onclick="goBack()" class="btn btn-primary">Go Back</a>
    </div>
    <div style="position: absolute; bottom: 0; right: 0;">
        <div style="padding: 15px;">
            <h3>Travel Planner</h3>
        </div>
        
    </div>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>
</html>