<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('base/head'); %>
    <title>Flights Page</title>
    <link rel="stylesheet" href="/stylesheets/flight-style.css">
</head>

<body>
    <%- include ('base/navbar'); %>
        
        <!-- First Row -->
        <div class="container mt-3">
            <div class="row mt-5">
                <!-- Placeholder image on the left of form -->
                <div class="col-md-6 d-none d-md-block">
                    <img src="images/flight-placeholder.jpg" alt="Image" class="img-fluid rounded-1" style="object-fit: cover; height: 100%;" >
                </div>
                
                <!-- Form Column -->
                <div class="col-md-6 flight-right-content">
                    <div class="booking-search-box">
                        <!-- Booking title -->
                        <h2 class="booking-title">Where do you want to fly to?</h2>
                        <div class="form-group mt-3">
                            <!-- Dropdown to display One-way or Round-trip Form -->
                            <label for="flightType" class="booking-label">Flight Type</label>
                            <select class="form-control booking-input" id="flightType">
                                <option value="oneWay">One-Way</option>
                                <option value="roundTrip">Round-Trip</option>
                            </select>
                        </div>
            
                        <!-- One-way form -->
                        <div id="oneWayForm">
                            <form action="/flight/oneWay" method="POST">

                                <!-- First Row of One-Way Form -->
                                <div class="row g-3">
                                    <!-- Input for Origin -->
                                    <div class="form-group col">
                                        <label for="origin" class="booking-label">Origin</label>
                                        <input type="text" class="form-control booking-input" id="origin" name="origin" list="airportlist" required>
                                        <!-- Datalist from airports.json -->
                                        <datalist id="airportlist"></datalist>
                                    </div>
            
                                    <!-- Input for Destination -->
                                    <div class="form-group col">
                                        <label for="destination" class="booking-label">Destination</label>
                                        <input type="text" class="form-control booking-input" id="destination" name="destination" list="airportlist" required>
                                        <!-- Datalist from airports.json -->
                                        <datalist id="airportlist">
                                        </datalist>
                                    </div>
                                </div>

                                <!-- Second Row of One-Way Form -->
                                <div class="row g-3">
                                    <!-- Input for Adults -->
                                    <div class="form-group col">
                                        <label for="adults" class="booking-label">Adults</label>
                                        <input type="number" class="form-control booking-input" id="adults" name="adults" min="1" value="1" required>
                                    </div>
            
                                    <!-- Input for Children -->
                                    <div class="form-group col">
                                        <label for="children" class="booking-label">Children</label>
                                        <input type="number" class="form-control booking-input" id="children" name="children" min="0" value="0" required>
                                    </div>
            
                                    <!-- Input for Infant -->
                                    <div class="form-group col">
                                        <label for="infants" class="booking-label">Infants</label>
                                        <input type="number" class="form-control booking-input" id="infants" name="infants" min="0" value="0" required>
                                    </div>
                                </div>
            
                                <!-- Third Row of One-Way Form -->
                                <div class="row g-3">
                                    <!-- Input for Date -->
                                    <div class="form-group col">
                                        <label for="date" class="booking-label">Date</label>
                                        <input type="date" class="form-control booking-input" id="date" name="date" required>
                                    </div>
            
                                    <div class="form-group col">
                                        <!-- Dropdown for Cabin Class -->
                                        <label for="cabinClass" class="booking-label">Cabin Class</label>
                                        <select class="form-control booking-input" id="cabinClass" name="cabinClass" required>
                                            <option disabled>Select Cabin Class</option>
                                            <option value="economy" selected>Economy</option>
                                            <option value="premium_economy">Premium Economy</option>
                                            <option value="business">Business</option>
                                            <option value="first">First</option>
                                        </select>
                                    </div>
                                </div>
            
                                <!-- Submit button for One-Way Form -->
                                <div class="booking-button-container">
                                    <button type="submit" class="btn btn-primary booking-button">Search</button>
                                </div>
                            </form>
                        </div>
            
                        <!-- Round-Trip Form -->
                        <div id="roundTripForm" style="display: none;">
                            <form action="/flight/roundTrip" method="POST">

                                <!-- First Row of Form -->
                                <div class="row g-3">
                                    <!-- Input for Origin -->
                                    <div class="form-group col">
                                        <label for="origin" class="booking-label">Origin</label>
                                        <input type="text" id="origin" class="form-control booking-input" name="origin" list="airportlist" required>
                                        <!-- Datalist from airports.json -->
                                        <datalist id="airportlist"></datalist>
                                    </div>
            
                                    <!-- Input for Destination -->
                                    <div class="form-group col">
                                        <label for="destination" class="booking-label">Destination</label>
                                        <input type="text" class="form-control booking-input" id="destination" name="destination" list="airportlist" required>
                                        <!-- Datalist from airports.json -->
                                        <datalist id="airportlist"></datalist>
                                    </div>
                                </div>

            
                                <!-- Second Row of Form -->
                                <div class="row g-3">
                                    <!-- Input for Adults -->
                                    <div class="form-group col">
                                        <label for="adults" class="booking-label">Adults</label>
                                        <input type="number" class="form-control booking-input" id="adults" name="adults" min="1" value="1">
                                    </div>
            
                                    <!-- Input for Children -->
                                    <div class="form-group col">
                                        <label for="children" class="booking-label">Children</label>
                                        <input type="number" class="form-control booking-input" id="children" name="children" min="0" value="0">
                                    </div>
            
                                    <!-- Input for Infants -->
                                    <div class="form-group col">
                                        <label for="infants" class="booking-label">Infants</label>
                                        <input type="number" class="form-control booking-input" id="infants" name="infants" min="0" value="0">
                                    </div>
                                </div>

                                <!-- Third Row of Form -->
                                <div class="row g-3">
                                    <!-- Input for From Date -->
                                    <div class="form-group col">
                                        <label for="from" class="booking-label">From</label>
                                        <input type="date" class="form-control booking-input" id="from" name="from" required>
                                    </div>
            
                                    <!-- Input for To Date -->
                                    <div class="form-group col">
                                        <label for="to" class="booking-label">To</label>
                                        <input type="date" class="form-control booking-input" id="to" name="to" required>
                                    </div>
            
                                    <!-- Dropdown for Cabin Class -->
                                    <div class="form-group col">
                                        <label for="cabinClass" class="booking-label">Cabin Class</label>
                                        <select class="form-control booking-input" id="cabinClass" name="cabinClass" required>
                                            <option disabled>Select Cabin Class</option>
                                            <option value="economy" selected>Economy</option>
                                            <option value="premium_economy">Premium Economy</option>
                                            <option value="business">Business</option>
                                            <option value="first">First</option>
                                        </select>
                                    </div>
                                </div>
            
                                <!-- Submit button for Round-Trip Form -->
                                <div class="booking-button-container">
                                    <button type="submit" class="btn btn-primary booking-button">Search</button>
                                </div>
                            </form>
                        </div>
            
                    </div>
                </div>
            </div>
        </div>
        <!-- First Row End (Placeholder left image and form) -->


        <!-- Second Row Image-->
        <div class="container mt-4">
            <img src="images/flight.jpg" class="img-fluid rounded-1" alt="Flight Image">
        </div>
        <!-- Second Row End -->


        <!-- Third Row -->
        <div class="container mt-3">
            <h4>Popular places to travel to</h4>
        </div>

        <!-- 9 Images within its card -->
        <div class="container mt-3 mb-5">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card">
                        <div class="d-flex">
                            <img src="images/bali.jpg" class="card-img-left" alt="Image 1" style="max-width: 100px; max-height:100px">
                            <div class="card-body">
                                <h5 class="card-title">Bali</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="d-flex">
                            <img src="images/bangkok.jpg" class="card-img-left" alt="Image 2" style="max-width: 100px; max-height:100px">
                            <div class="card-body">
                                <h5 class="card-title">Bangkok</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="d-flex">
                            <img src="images/hong kong.jpg" class="card-img-left" alt="Image 3" style="max-width: 100px; max-height:100px">
                            <div class="card-body">
                                <h5 class="card-title">Hong Kong</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row row-cols-1 row-cols-md-3 g-4 mt-1">
                <div class="col">
                    <div class="card">
                        <div class="d-flex">
                            <img src="images/korea.jpg" class="card-img-left" alt="Image 1" style="max-width: 100px; max-height:100px">
                            <div class="card-body">
                                <h5 class="card-title">Korea</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="d-flex">
                            <img src="images/kuala lumpur.jpg" class="card-img-left" alt="Image 2" style="max-width: 100px; max-height:100px">
                            <div class="card-body">
                                <h5 class="card-title">Kuala Lumpur</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="d-flex">
                            <img src="images/singapore.jpg" class="card-img-left" alt="Image 3" style="max-width: 100px; max-height:100px">
                            <div class="card-body">
                                <h5 class="card-title">Singapore</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row row-cols-1 row-cols-md-3 g-4 mt-1 mb-6">
                <div class="col">
                    <div class="card">
                        <div class="d-flex">
                            <img src="images/sydney.jpg" class="card-img-left" alt="Image 1" style="max-width: 100px; max-height:100px">
                            <div class="card-body">
                                <h5 class="card-title">Sydney</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="d-flex">
                            <img src="images/taipei.jpg" class="card-img-left" alt="Image 2" style="max-width: 100px; max-height:100px">
                            <div class="card-body">
                                <h5 class="card-title">Taipei</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="d-flex">
                            <img src="images/tokyo.jpg" class="card-img-left" alt="Image 3" style="max-width: 100px; max-height:100px">
                            <div class="card-body">
                                <h5 class="card-title">Tokyo</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Third Row End -->

    <%- include ('base/footer'); %>

    <script>   
        // Creates the options for the origin and destination using the json
        fetch('/data/airports.json')
            .then(response => response.json())
            .then(data => {
                const datalist = document.getElementById('airportlist');
                for (const item of data) {
                    const option = document.createElement('option');
                    option.value = item.Combine;
                    datalist.appendChild(option);
                }
            })
            .catch(err => console.error(err));
    
    
        const flightTypeSelect = document.getElementById('flightType');
        flightTypeSelect.addEventListener('change', (event) => {
            const selectedValue = event.target.value;
            switch (selectedValue) {
                case 'oneWay':
                    oneWayForm.style.display = 'block';
                    roundTripForm.style.display = 'none';
                    flightResult.style.display = 'none';
                    break;
                case 'roundTrip':
                    oneWayForm.style.display = 'none';
                    roundTripForm.style.display = 'block';
                    flightResult.style.display = 'none';
                    break;
                default:
                    oneWayForm.style.display = 'none';
                    roundTripForm.style.display = 'none';
                    break;
            }
        });
    
    
        // oneWayForm and roundTripForm validation
        function checkForm(formId) {
            document.getElementById(formId).addEventListener('submit', function (event) {
                var form = event.target;
                var originInput = form.elements['origin'];
                var destinationInput = form.elements['destination'];
    
                var originValue = originInput.value;
                var destinationValue = destinationInput.value;
    
                var airportListOptions = Array.from(document.getElementById('airportlist').options).map(option => option.value);
    
                if (!airportListOptions.includes(originValue) && !airportListOptions.includes(destinationValue)) {
                    alert("The origin and destination input does not match any value in the airport list.");
                    event.preventDefault();
                } else if (!airportListOptions.includes(originValue)) {
                    alert("The origin input does not match any value in the airport list.");
                    event.preventDefault();
                    return false;
                } else if (!airportListOptions.includes(destinationValue)) {
                    alert("The destination input does not match any value in the airport list.");
                    event.preventDefault();
                    return false;
                }

                // Check date validation for roundTripForm
                if (formId === "roundTripForm") {
                    var fromInput = form.elements['from'];
                    var toInput = form.elements['to'];
                    
                    if (fromInput.value >= toInput.value) {
                        alert('To date must be after From date.');
                        event.preventDefault(); // Prevent form submission
                    }
                }
            });
        }
        
        checkForm("oneWayForm");
        checkForm("roundTripForm");
    
        // get the current date for the date input
        function getCurrentDate() {
            const today = new Date();
            const year = today.getFullYear();
            let month = today.getMonth() + 1;
            let day = today.getDate();
    
            if (month < 10) {
                month = `0${month}`;
            }
            if (day < 10) {
                day = `0${day}`;
            }
    
            return `${year}-${month}-${day}`;
        }
    
        // Set the minimum date for date inputs to the current date
        const dateInputs = document.querySelectorAll('input[type="date"]');
        const currentDate = getCurrentDate();
    
        dateInputs.forEach(input => {
            input.min = currentDate;
        });
    
    </script>
</body>

</html>