<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('base/head'); %>
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/homepage-style.css">

    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Paytone+One&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

</head>
<body>
    <%- include ('base/navbar'); %>
    <!-- Header homepage -->
    <section class="home" id="home">
        <div class="home-text">
            <h1>Find and book a great experience</h1>
            <p>Plan a trip with us to enjoy and relax on your getaway trip <br> Easy planning as abc.</p>
            <a href="/itinerary" class="planning-btn">Let's go now </a>
            
        </div>
    </section>
    
    <!-- Container -->
    <section class="home-container">
        <div class="text">
            <h2>Take a trip across the globe with us!</h2>
            <p class="sub-text"> Use our fuss-free services that we’ve provided just for you! </p>
            
            <!-- Services -->
            <div class="row-items">

                <!-- Flight -->
                <div class="container-box">
                    <div class="container-img">
                        <img src="../images/plane-take-off-solid-24.png">
                    </div>
                    <h4>Flight</h4>
                    <p>Book and find flights</p>
                    <a href="/itinerary" class="btn-services-btn" role="button" aria-pressed="true">
                        <span>Flight</span>
                    </a>
                </div>
                

                <!-- Hotel -->
                <div class="container-box">
                    <div class="container-img">
                        <img src="../images/hotel-solid-24.png">
                    </div>
                    <h4>Hotel</h4>
                    <p>Book and find hotel</p>
                    <a href="/hotel" class="btn-services-btn" role="button" aria-pressed="true">
                        <span>Hotel</span>
                    </a>
                </div>

                <!-- AirBnB -->
                <div class="container-box">
                    <div class="container-img">
                        <img src="../images/airbnb-logo-24.png">
                    </div>
                    <h4>Airbnb</h4>
                    <p>Book and find <br>  a Airbnb stay</p>
                    <a href="/airbnb" class="btn-services-btn" role="button" aria-pressed="true">
                        <span>Airbnb</span>
                    </a>
                </div>

                <!-- Itinerary -->
                <div class="container-box">
                    <div class="container-img">
                        <img src="../images/notepad-regular-24.png">
                    </div>
                    <h4>Itinerary</h4>
                    <p>Plan and see your <br> customised itinerary</p>
                    <a href="/itinerary" class="btn-services-btn" role="button" aria-pressed="true">
                        <span>Itinerary</span>
                    </a>                      
                </div>
            </div>
        </div>
    </section>
    

    <!-- Destination section -->
    <section>
        <div class="destination" id="destination">
            <div class="title">
                <h2>Tourists Hotspots Destination!</h2>
                <p class="des-subtext">Explore the world around you</p>
            </div>

            <div class="destination-content">
                <div class="col-content">
                    <img src="../images/KL.jpg">
                    <h5>Malaysia</h5>
                    <p>Kuala Lumpur</p>
                </div>

                <div class="col-content">
                    <img src="../images/Japan.jpg">
                    <h5>Japan</h5>
                    <p>Mount Fuji</p>
                </div>

                <div class="col-content">
                    <img src="../images/Indonesia.jpg">
                    <h5>Indonesia</h5>
                    <p>Bali</p>
                </div>

            </div>
        </div>
    </section>
    
    
</body>
<%- include ('base/footer'); %>
</html>