<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('base/head'); %>
    <title>Home</title>
</head>
<body>
    <%- include ('base/navbar'); %>
    <h1>Hello World</h1>
    <p>test</p>
    <%- include ('base/footer'); %>
    <%- include ('base/navbarJS'); %>
</body>

</html>