h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}

.flight-container {
    padding-bottom: 0.1px;
}

.flight-price {
    margin-bottom: 0px;
}

.flight-margin {
    margin-bottom: 16px;
}

.booking-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.booking-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    background-color: #fff;
    display: flex;
}

.booking-image {
    width: 170px;
    height: 170px;
    object-fit: cover;
    margin-right: 15px;
}

.booking-details {
    padding: 15px;
}

h3 {
    font-size: 18px;
    margin: 0;
    margin-bottom: 5px;
}

.link {
    color: #0d6efd;
    text-decoration: underline;
}

.link:hover {
    cursor: pointer;
}

.booking-button-container {
    display: flex;
    gap: 10px;
}

.booking-button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 15px;
}

.flight-booking-button {
    padding: 10px 20px;
    font-size: 16px;
}

.line {
    display: inline-block;
    width: 150px;
    height: 2px;
    background-color: #000;
    margin: 0px 10px;
    vertical-align: middle;
}

.modal {
    display: none;
    width: 50%;
    margin-left: 25%;
}

.modal-title {
    font-size: 18px;
    margin: 0;
}

.h4-black {
    font-size: 16px;
    margin-bottom: 5px;
    color: #000;
}

.itinerary-dropdown-div {
    position: relative;
    width: 50%;
}

.itinerary-dropdown {
    width: 100%;
    border: 1px solid #dee2e6;
    border-radius: 0.375rem;
    padding: 6px 12px;
}

.itinerary-dropdown:hover {
    cursor: pointer;
}

.itinerary-dropdown-arrow {
    position: absolute;
    top: 7px;
    right: 10px;
    width: 25px;
}

.itinerary-dropdown-arrow:hover {
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    top: 100%;
    padding: 0px;
}

.dropdown-item {
    padding: 10px;
}

.dropdown-item:hover {
    cursor: pointer;
}

.create-itinerary-form {
    display: none;
}

.error-message {
    display: none;
    margin-top: 5px;
    font-size: 14px;
    color: #d9534f;
}

.error-icon {
    width: 20px;
}

.button-container-disabled:hover {
    cursor: not-allowed;
}