/* style for login and register page */
body {
    font-family: 'Montserrat', Arial, sans-serif;
    background-color: #E7717D;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Family';
    src: url('../fonts/Family.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Mister';
    src: url('../fonts/Mister.otf');
    font-weight: normal;
}


.login-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    padding-right: 10%;
    background-color: #E7717D;
    background-image: linear-gradient(to top, #E7717D, #C2B9B0);
}

.login-left-side {
    width: 30%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    overflow: hidden;
}

.slideshow-container {
    height: 100%;
    max-height: 100vh;
    padding: 0;
    margin: 0;
    position: relative;
    overflow: hidden;
}

.mySlides {
    display: none;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.mySlides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.login-right-side {
    width: 60%;
    height: 80vh;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(194, 202, 208, 0.6);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register-right-side {
    width: 60%;
    height: 90vh;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(194, 202, 208, 0.6);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-logo {
    width: 100px;
    height: 100px;
    /* background-image: url('../images/logo.png'); */
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin-bottom: 20px;
}

.login-title {
    font-size: 80px;
    font-weight: bold;
    font-family: 'Family';
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}

.login-slogan {
    font-size: 22px;
    color: #666;
    font-family: 'Mister';
    margin-left: 256px;
    margin-bottom: 40px;
    margin-top: -23px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.login-input-label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #2479b1;
    background-image: linear-gradient(to right, #a990d1, #2479b1, #a990d1);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}

.login-btn:hover {
    background-color: #104161;
    background-image: linear-gradient(to right, #7f67a5, #104161, #7f67a5);
}

.signup-link {
    margin-top: 40px;
    text-align: center;
    color: #3498db;
    text-decoration: none;
}

.login-hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 30px 0;
}
