<!-- Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Firebase -->
<script src="https://www.gstatic.com/firebasejs/8.6.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.6.1/firebase-auth.js"></script>

<script>
    const firebaseConfig = {
        apiKey: "AIzaSyDUmb_WM3C3W8PgHv5n_PC7Pw7g46mfciM",
        authDomain: "uolagile86.firebaseapp.com",
        projectId: "uolagile86",
        storageBucket: "uolagile86.appspot.com",
        messagingSenderId: "478089214846",
        appId: "1:478089214846:web:2acbc6d5cb3eb83599912f",
        measurementId: "G-BK9G5K2QHV"
    };
    // init firebase
    firebase.initializeApp(firebaseConfig);
</script>

<link rel="stylesheet" href="/stylesheets/footer.css">
<link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cantarell&display=swap" rel="stylesheet">


<section id="contact">
    <div class="footer">
        <div class="main">
            <div class="list">
                <h4>Quick Links</h4>
                <li><a href="/home" >Home</a></li>
                <li><a href="/hotel" >Hotel</a></li>
                <li><a href="/itinerary" >Itinerary</a></li>
                <li><a href="/flight" >Flight</a></li>
                <li><a href="/airbnb">AirBnB</a></li>
            </div>

            <div class="list">
                <h4>Contact Us</h4>
                <li>+65 1234 5678</li>
                <li>help@travelplanner.com</li>
                <li>support@travelplanner.com</li>
            </div>

            <div class="list">
                <h4>Connect with us</h4>
                <div class="social-icons">
                    <a><i class='bx bxl-facebook' ></i></a>
                    <a><i class='bx bxl-instagram-alt' ></i></a>
                    <a><i class='bx bxl-twitter' ></i></a>
                </div>
            </div>
        </div>
    </div>


    <div class="end-text">
        <p>Made with Travel Planner | By Team 86</p>
    </div>

</section>