<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('base/head'); %>
    <title>Title</title>
</head>
<body>
    <%- include ('base/navbar'); %>
    <div class="container">
        <h1>Hello World</h1>
        <p>test</p>
    </div>
    <%- include ('base/footer'); %>
</body>

</html>